---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime";
import Hr from "./Hr.astro";
import Member from "./Member.astro";
import Tag from "./Tag";

export interface Props {
  title?: string;
  pubDatetime?: string | Date | null;
  modDatetime?: string | Date | null;
  author?: string;
  tags?: string[];
  description?: string;
  url?: string;
  email?: string;
}

const {
  title = "",
  description,
  pubDatetime,
  modDatetime,
  author,
  url,
  email,
  tags = [],
} = Astro.props;
---

<h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
{
  !!pubDatetime && (
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      className="my-4"
    />
  )
}
{
  !!author && (
    <div class="my-8">
      <Member id={author as any} />
    </div>
  )
}
{!!description && <p class="post-description">{description}</p>}

{
  (!!email || !!url) && (
    <p class="post-link">
      {!!url && <a href={url}>{url}</a>}
      {!!email && <a href={`mailto:${email}`}>{email}</a>}
    </p>
  )
}

<div class="mt-8">
  <Hr noPadding />
</div>
{
  !!tags.length && (
    <ul class="my-8">
      {tags.map(tag => (
        <Tag tag={slugifyStr(tag)} />
      ))}
    </ul>
  )
}
<style>
  .post-title {
    @apply mt-4 text-2xl sm:text-4xl;
  }
  .post-description {
    @apply mt-2 max-w-xl font-medium;
  }
  .post-link {
    @apply mt-8 flex flex-col gap-2 font-medium text-skin-accent;
  }
</style>
